In [ ]:
# in-progress, currently
# decided it was easier to download data as Excel file

In [2]:
import requests
import json
import pandas as pd

In [3]:
headers = {'Content-type': 'application/json'}
data = json.dumps({'seriesid': ['CUUR0000SA0','SUUR0000SA0'],"startyear":"2011","endyear":"2014"})
p = requests.post('http://api.bls.gov/publicAPI/v1/timeseries/data/', data=data, headers=headers)
json_data = json.loads(p.text)

In [4]:
json_data

{'Results': {'series': [{'data': [{'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '134.207',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '135.107',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '135.891',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '136.211',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '136.127',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '136.392',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '136.433',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '136.216',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '135.771',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '135.375',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '134.542',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '134.017',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '133.509',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '133.596',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '133.876',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '134.255',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '134.098',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '133.919',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '133.900',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '133.626',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '133.421',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '133.558',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '133.204',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '132.137',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '131.770',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '132.208',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '132.892',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '132.988',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '132.430',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '131.731',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '131.956',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '132.154',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '132.284',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '131.905',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '130.953',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '130.438',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '129.844',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '130.196',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '130.373',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '130.635',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '130.351',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '129.983',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '129.846',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '129.999',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '129.483',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '128.585',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '127.363',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '126.778',
      'year': '2011'}],
    'seriesID': 'SUUR0000SA0'},
   {'data': [{'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '234.812',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '236.151',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '237.433',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '238.031',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '237.852',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '238.250',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '238.343',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '237.900',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '237.072',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '236.293',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '234.781',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '233.916',
      'year': '2014'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '233.049',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '233.069',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '233.546',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '234.149',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '233.877',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '233.596',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '233.504',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '232.945',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '232.531',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '232.773',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '232.166',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '230.280',
      'year': '2013'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '229.601',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '230.221',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '231.317',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '231.407',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '230.379',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '229.104',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '229.478',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '229.815',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '230.085',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '229.392',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '227.663',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '226.665',
      'year': '2012'},
     {'footnotes': [{}],
      'period': 'M12',
      'periodName': 'December',
      'value': '225.672',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M11',
      'periodName': 'November',
      'value': '226.230',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M10',
      'periodName': 'October',
      'value': '226.421',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M09',
      'periodName': 'September',
      'value': '226.889',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M08',
      'periodName': 'August',
      'value': '226.545',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M07',
      'periodName': 'July',
      'value': '225.922',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M06',
      'periodName': 'June',
      'value': '225.722',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M05',
      'periodName': 'May',
      'value': '225.964',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M04',
      'periodName': 'April',
      'value': '224.906',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M03',
      'periodName': 'March',
      'value': '223.467',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M02',
      'periodName': 'February',
      'value': '221.309',
      'year': '2011'},
     {'footnotes': [{}],
      'period': 'M01',
      'periodName': 'January',
      'value': '220.223',
      'year': '2011'}],
    'seriesID': 'CUUR0000SA0'}]},
 'message': [],
 'responseTime': 67,
 'status': 'REQUEST_SUCCEEDED'}

In [18]:
for i in json_data['Results']['series']:
    print(i['data'])

[{'year': '2014', 'periodName': 'December', 'value': '134.207', 'period': 'M12', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'November', 'value': '135.107', 'period': 'M11', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'October', 'value': '135.891', 'period': 'M10', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'September', 'value': '136.211', 'period': 'M09', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'August', 'value': '136.127', 'period': 'M08', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'July', 'value': '136.392', 'period': 'M07', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'June', 'value': '136.433', 'period': 'M06', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'May', 'value': '136.216', 'period': 'M05', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'April', 'value': '135.771', 'period': 'M04', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'March', 'value': '135.375', 'period': 'M03', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'February', 'value': '134.542', 'period': 'M02', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'January', 'value': '134.017', 'period': 'M01', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'December', 'value': '133.509', 'period': 'M12', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'November', 'value': '133.596', 'period': 'M11', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'October', 'value': '133.876', 'period': 'M10', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'September', 'value': '134.255', 'period': 'M09', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'August', 'value': '134.098', 'period': 'M08', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'July', 'value': '133.919', 'period': 'M07', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'June', 'value': '133.900', 'period': 'M06', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'May', 'value': '133.626', 'period': 'M05', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'April', 'value': '133.421', 'period': 'M04', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'March', 'value': '133.558', 'period': 'M03', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'February', 'value': '133.204', 'period': 'M02', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'January', 'value': '132.137', 'period': 'M01', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'December', 'value': '131.770', 'period': 'M12', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'November', 'value': '132.208', 'period': 'M11', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'October', 'value': '132.892', 'period': 'M10', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'September', 'value': '132.988', 'period': 'M09', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'August', 'value': '132.430', 'period': 'M08', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'July', 'value': '131.731', 'period': 'M07', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'June', 'value': '131.956', 'period': 'M06', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'May', 'value': '132.154', 'period': 'M05', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'April', 'value': '132.284', 'period': 'M04', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'March', 'value': '131.905', 'period': 'M03', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'February', 'value': '130.953', 'period': 'M02', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'January', 'value': '130.438', 'period': 'M01', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'December', 'value': '129.844', 'period': 'M12', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'November', 'value': '130.196', 'period': 'M11', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'October', 'value': '130.373', 'period': 'M10', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'September', 'value': '130.635', 'period': 'M09', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'August', 'value': '130.351', 'period': 'M08', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'July', 'value': '129.983', 'period': 'M07', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'June', 'value': '129.846', 'period': 'M06', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'May', 'value': '129.999', 'period': 'M05', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'April', 'value': '129.483', 'period': 'M04', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'March', 'value': '128.585', 'period': 'M03', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'February', 'value': '127.363', 'period': 'M02', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'January', 'value': '126.778', 'period': 'M01', 'footnotes': [{}]}]
[{'year': '2014', 'periodName': 'December', 'value': '234.812', 'period': 'M12', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'November', 'value': '236.151', 'period': 'M11', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'October', 'value': '237.433', 'period': 'M10', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'September', 'value': '238.031', 'period': 'M09', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'August', 'value': '237.852', 'period': 'M08', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'July', 'value': '238.250', 'period': 'M07', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'June', 'value': '238.343', 'period': 'M06', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'May', 'value': '237.900', 'period': 'M05', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'April', 'value': '237.072', 'period': 'M04', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'March', 'value': '236.293', 'period': 'M03', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'February', 'value': '234.781', 'period': 'M02', 'footnotes': [{}]}, {'year': '2014', 'periodName': 'January', 'value': '233.916', 'period': 'M01', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'December', 'value': '233.049', 'period': 'M12', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'November', 'value': '233.069', 'period': 'M11', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'October', 'value': '233.546', 'period': 'M10', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'September', 'value': '234.149', 'period': 'M09', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'August', 'value': '233.877', 'period': 'M08', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'July', 'value': '233.596', 'period': 'M07', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'June', 'value': '233.504', 'period': 'M06', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'May', 'value': '232.945', 'period': 'M05', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'April', 'value': '232.531', 'period': 'M04', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'March', 'value': '232.773', 'period': 'M03', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'February', 'value': '232.166', 'period': 'M02', 'footnotes': [{}]}, {'year': '2013', 'periodName': 'January', 'value': '230.280', 'period': 'M01', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'December', 'value': '229.601', 'period': 'M12', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'November', 'value': '230.221', 'period': 'M11', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'October', 'value': '231.317', 'period': 'M10', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'September', 'value': '231.407', 'period': 'M09', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'August', 'value': '230.379', 'period': 'M08', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'July', 'value': '229.104', 'period': 'M07', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'June', 'value': '229.478', 'period': 'M06', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'May', 'value': '229.815', 'period': 'M05', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'April', 'value': '230.085', 'period': 'M04', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'March', 'value': '229.392', 'period': 'M03', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'February', 'value': '227.663', 'period': 'M02', 'footnotes': [{}]}, {'year': '2012', 'periodName': 'January', 'value': '226.665', 'period': 'M01', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'December', 'value': '225.672', 'period': 'M12', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'November', 'value': '226.230', 'period': 'M11', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'October', 'value': '226.421', 'period': 'M10', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'September', 'value': '226.889', 'period': 'M09', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'August', 'value': '226.545', 'period': 'M08', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'July', 'value': '225.922', 'period': 'M07', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'June', 'value': '225.722', 'period': 'M06', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'May', 'value': '225.964', 'period': 'M05', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'April', 'value': '224.906', 'period': 'M04', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'March', 'value': '223.467', 'period': 'M03', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'February', 'value': '221.309', 'period': 'M02', 'footnotes': [{}]}, {'year': '2011', 'periodName': 'January', 'value': '220.223', 'period': 'M01', 'footnotes': [{}]}]

In [24]:
print(json_data['Results']['series'][0]['seriesID'])
pd.DataFrame(json_data['Results']['series'][0]['data'])

SUUR0000SA0

   footnotes period periodName    value  year
0       [{}]    M12   December  134.207  2014
1       [{}]    M11   November  135.107  2014
2       [{}]    M10    October  135.891  2014
3       [{}]    M09  September  136.211  2014
4       [{}]    M08     August  136.127  2014
5       [{}]    M07       July  136.392  2014
6       [{}]    M06       June  136.433  2014
7       [{}]    M05        May  136.216  2014
8       [{}]    M04      April  135.771  2014
9       [{}]    M03      March  135.375  2014
10      [{}]    M02   February  134.542  2014
11      [{}]    M01    January  134.017  2014
12      [{}]    M12   December  133.509  2013
13      [{}]    M11   November  133.596  2013
14      [{}]    M10    October  133.876  2013
15      [{}]    M09  September  134.255  2013
16      [{}]    M08     August  134.098  2013
17      [{}]    M07       July  133.919  2013
18      [{}]    M06       June  133.900  2013
19      [{}]    M05        May  133.626  2013
20      [{}]    M04      April  133.421  2013
21      [{}]    M03      March  133.558  2013
22      [{}]    M02   February  133.204  2013
23      [{}]    M01    January  132.137  2013
24      [{}]    M12   December  131.770  2012
25      [{}]    M11   November  132.208  2012
26      [{}]    M10    October  132.892  2012
27      [{}]    M09  September  132.988  2012
28      [{}]    M08     August  132.430  2012
29      [{}]    M07       July  131.731  2012
30      [{}]    M06       June  131.956  2012
31      [{}]    M05        May  132.154  2012
32      [{}]    M04      April  132.284  2012
33      [{}]    M03      March  131.905  2012
34      [{}]    M02   February  130.953  2012
35      [{}]    M01    January  130.438  2012
36      [{}]    M12   December  129.844  2011
37      [{}]    M11   November  130.196  2011
38      [{}]    M10    October  130.373  2011
39      [{}]    M09  September  130.635  2011
40      [{}]    M08     August  130.351  2011
41      [{}]    M07       July  129.983  2011
42      [{}]    M06       June  129.846  2011
43      [{}]    M05        May  129.999  2011
44      [{}]    M04      April  129.483  2011
45      [{}]    M03      March  128.585  2011
46      [{}]    M02   February  127.363  2011
47      [{}]    M01    January  126.778  2011

In [26]:
# Series ID code for Gallatin County, MT Occupational Employment Statistics
# See http://www.bls.gov/help/hlpforma.htm#OE
# 'OEUM' - (O)cc (E)mploy + (U)n-adjusted seasonally + (M)etro or non-metro area
# '3000003' - SW MT non-metro area
# 6-digit Industry codes here: http://download.bls.gov/pub/time.series/oe/oe.industry
# 6-digit occupation codes here: http://download.bls.gov/pub/time.series/oe/oe.occupation
# 2-digit datatype codes here: http://download.bls.gov/pub/time.series/oe/oe.datatype